dash
dash-core-components
dash-html-components
dash-table
flask
matplotlib
gunicorn

-e git://github.com/vtshitoyan/dash-materialsintelligence#egg=dash_materialsintelligence
-e git://github.com/materialsintelligence/matscholar.git#egg=matscholar 
